:root {
  /* Color Scheme */
  --bg_dim: #1e2326;
  --bg0: #272e33;
  --bg1: #2e383c;
  --bg2: #374145;
  --bg3: #414b50;
  --bg4: #495156;
  --bg5: #4f5b58;
  --bg_red: #4c3743;
  --bg_visual: #493b40;
  --bg_yellow: #45443c;
  --bg_green: #3c4841;
  --bg_blue: #384b55;
  --red: #e67e80;
  --orange: #e69875;
  --yellow: #dbbc7f;
  --green: #a7c080;
  --blue: #7fbbb3;
  --aqua: #83c092;
  --purple: #d699b6;
  --gray0: #7a8478;
  --gray1: #859289;
  --gray2: #9da9a0;
  --fg: #d3c6aa;
  --status_green: #a7c080;
  --status_cream: #d3c6aa;
  --status_red: #e67e80;

  /* Animation Delay */
  --delay-increment: 0.2s;
}
@font-face {
  font-family: "AgaveNerdFontRegular";
  src: url("/static/fonts/Agave/AgaveNerdFontMono-Regular.ttf")
    format("truetype");
}

@keyframes loading {
  0% {
    /* transform: translateX(0); */
  }
  100% {
    /* right: 5%; */
    transform: translate(calc(100vw + 150px), -50%);
  }
}
body,
html {
  height: 100%;
  margin: 0;
  font-family: "AgaveNerdFontRegular";
  background-color: #1e2326;
  color: var(--fg);
}
h1 {
  font-size: 5rem;
}

div.item {
  position: absolute;
  width: 150px;
  height: 150px;
  text-align: center;
  vertical-align: -50%;
  left: -150px;
  top: 50%;
  transform: translateY(-50%);
  animation: loading 5s ease-in-out infinite;
}
div.text {
  font-size: 8em;
  transform: translate(15px, 15px);
}

div.item:nth-child(1) {
  background-color: var(--red);
  border-radius: 100%;
  z-index: 10;
  animation-delay: calc(var(--delay-increment) * 6);
}
div.item:nth-child(2) {
  background-color: var(--orange);
  border-radius: 100%;
  z-index: 9;
  animation-delay: calc(var(--delay-increment) * 5);
}
div.item:nth-child(3) {
  background-color: var(--yellow);
  border-radius: 100%;
  z-index: 8;
  animation-delay: calc(var(--delay-increment) * 4);
}
div.item:nth-child(4) {
  background-color: var(--green);
  border-radius: 100%;
  z-index: 7;
  animation-delay: calc(var(--delay-increment) * 3);
}
div.item:nth-child(5) {
  background-color: var(--blue);
  border-radius: 100%;
  z-index: 6;
  animation-delay: calc(var(--delay-increment) * 2);
}
div.item:nth-child(6) {
  background-color: var(--aqua);
  border-radius: 100%;
  z-index: 5;
  animation-delay: calc(var(--delay-increment) * 1);
}
div.item:nth-child(7) {
  background-color: var(--purple);
  border-radius: 100%;
  z-index: 4;
}
