@font-face {
  font-family: "AgaveNerdFontRegular";
  src: url("/static/fonts/Agave/AgaveNerdFontMono-Regular.ttf")
    format("truetype");
}
html {
  font-family: "AgaveNerdFontRegular";
}
h1 {
  font-size: 5rem;
}
